*{
    box-sizing: border-box;
}

/* .displayy::placeholder{
    color:black;
} */

body{
    background-color:cornsilk;
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.wrapper{
    width: 20.2rem;
    background-color: rgba(100, 148, 237, 0.11);
    /* margin: auto; */
    display: grid;
    box-shadow: 0 5px 9px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    
}

.displayy{
    width: 100%;
    text-align: right;
    background-color: rgba(100, 148, 237, 0.589);
    height: 4.5rem;
    font-size: xx-large;
    outline: none;
    border: none;
    color:black;
    
}

.container{
    display: flex;
}

.keys-c{
    display: flex;
    flex-flow:wrap;
   gap: 1px;
}


.keys{
    border:none;
    font-weight: 1000;
    font-size:x-large;
    display: grid;
    background-color: darkcyan;
    width:5rem;
    justify-content: center;
    height: 5rem;
    align-content: center;
    cursor:pointer;


}


.keyys-c{
    row-gap: 0.06rem;
    display: grid;
}

.keyys{
    border: none;
    font-weight: 1000;
    font-size:x-large;
    display: grid;
    background-color: darkcyan;
    width:5rem;
    justify-content: center;
    align-content: center;
    cursor: pointer;

}
